<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1>Login</h1>
        <div *ngIf="notifyMsg" class="alert alert-success">
          {{ notifyMsg }}
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   formControlName="email">
              <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger" 
                    class="alert alert-danger">

              <div *ngIf="loginForm.controls['email'].errors.required">
                Veuillez entrer votre mail.
              </div>
              <div *ngIf="loginForm.controls['email'].errors.pattern">
                Format d'email invalide.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password">
          </div>
          <button [disabled]="!loginForm.valid" type="submit" (click)="login()" class="btn btn-danger">Submit</button>
        </form>

        <div *ngIf='errors' class="alert alert-danger">
          <p *ngFor='let error of errors'>
            {{error.detail}}
          </p>
        </div>
        
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>